<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Documenwt</title>
</head>
<style>
.line{
    height:400px;
    width:400px;
    border:1px solid black;
    margin:25%;
    background:linear-gradient(45deg,brown 25%,black 0,black 50%,brown 0,brown 75%,black 0);
    background-size:25% 25%;
    transition: all 3s linear;
}

.line:hover{
    height:200px;
    width:200px;
}




</style>
<body>


    <p>hello wqorld</p>
    <div class='line'></div>
    


    <script src="/js/index.js" charset="utf-8"></script>
</body>
</html>